@media only screen and (max-width: 1080px) {
    h3 {
        position: relative;
        top: 0;
        left: 10vw;
        display: inline-block;
    }
    button#back {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        margin-left: 120px;
        transform: translateY(-30px);
    }
    button#restart, input#board-color {
        position: relative;
        top: 0;
        left: 0;
        display: inline-block;
        margin-left: 10px;
        transform: translateY(-30px);
    }
}

@media only screen and (max-width: 480px) {
    * {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .board {
        width: 95%;
        min-width: 280px;
        margin-bottom: 4px;
    }
    button#back {
        margin-left: 60px;
    }
    h3 {
        font-size: 1em;
    }
    input#board-color {
        display: none;
    }
}