/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
    padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/* Global layouts */
@media screen and (min-width: 700px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}

/* Global buttons */
.content-button {
    padding: .5em 1em;
    border: 3px solid #B51C35;
    /*border-radius: 10px;*/
    font-weight: 600;
}

a.content-button {
    color: black;
    text-decoration: none;
}

a.content-button:focus,
a.content-button:hover {
    background: #B51C35;
    color: #FFFCED;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
body {
    background-color: #FDF2F2;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.content {
    position: relative;
}
.board {
    margin: 2.5em auto;
    width: 80%;
    max-width: 90vh;
    background-color: #fbb35c;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
}
button {
    background-color: #fff;
    color: green;
    position: absolute;
    left:10vw;
    cursor: pointer;
    z-index: 9;
    transition: all 1s;
    -webkit-transition: all 1s;
    border: 1px dotted grey;
}
button#back {
    top:30vh;
}
button#restart {
    top:calc(30vh + 50px);
}
button[disabled] {
    background-color: rgba(128, 128, 128, 0.48);
    color: rgba(0, 0, 0, 0.29);
    cursor: auto;
}

button:hover:enabled {
    background-color: #FF9C41;
    color: #000;
}

h3 {
    position: absolute;
    top: 10vh;
    left: 10vw;
    font-weight: 300;
}
h3 > span {
    color: green;
}
input#board-color {
    background-color: #fff;
    color: green;
    position: absolute;
    left:10vw;
    cursor: pointer;
    z-index: 9;
    transition: all 1s;
    -webkit-transition: all 1s;
    border: 1px dotted grey;
    top: calc(30vh + 100px);
}
